<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template.html">
<head>
    <meta charset="UTF-8">
    <title>CSituation Financiare</title>
</head>
<body>
<div layout:fragment="content">
    <div class="p-3">
        <div class="card">
            <div class="card-header">Liste des situations</div>
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <form method="get" th:action="@{/user/index/situation}">
                        <label>Keyword</label>
                        <input type="text" name="keyword" th:value="${keyword}">
                        <button type="submit" class="btn btn-primary">Chercher</button>
                    </form>
                    <a class="btn btn-primary" th:href="@{/user/index/facture}">Lister Factures</a>
                </div>

                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Total à Payer</th>
                        <th>Payé</th>
                        <th>Reste</th>
                        <th>Consultation</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="sf:${listSFs}">
                        <td th:text="${sf.id}"></td>
                        <td th:text="${sf.nom}"></td>
                        <td th:text="${sf.getTotalapayer()}"></td>
                        <td th:text="${sf.paye}"></td>
                        <td th:text="${sf.getReste()}"></td>
                        <td th:text="${sf.consultation.description}"></td>
                        <td>
                            <a onclick="return confirm('Êtes-vous sûr ?')" class="btn btn-danger"
                               th:href="@{/user/deleteSituation(id=${sf.id}, keyword=${keyword}, page=${currentPage})}">
                                <i class="bi bi-trash"></i>
                            </a>
                            <a class="btn btn-danger"
                               th:href="@{/user/editSituation(id=${sf.id})}">
                                <i class="bi bi-pencil"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <ul class="nav nav-pills">
                    <li th:each="page,status:${pages}">
                        <a th:class="${status.index==currentPage?'btn btn-info ms-1':'btn btn-outline-info ms-1'}"
                           th:href="@{/user/index4(page=${status.index}, keyword=${keyword})}"
                           th:text="${status.index}">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>